@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.02em;
}
